body {
	background-color: #808080;
	padding: 0;
	margin: 0;
	border: 0;
}

h1, p {
	margin: 10px;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: normal;
	text-align: left;
}

a:link, a:visited, a:hover, a:active{
	color: #000080;
	text-decoration: none;
}

ul.navbar {
	display: block;
	background-color: #000080;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}

ul.navbar li {
	float: left;
}

ul.navbar a{
	display: block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #c0c0c0;
	background-color: #000080;
	width: 120px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

ul.navbar a:hover, ul a:active {
	background-color: #000040;
}