body {
	background-color: #c0c0c0;
	padding: 0;
	margin: 0;
	border: 0;
}

h1, h2, p, a {
	margin: 10px;
	color: #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: normal;
	text-align: left;
}

img {
	margin: 0px;
	margin-left: 10px;
	padding: 10px;
}

.project {
	background-color: #404040;
	padding: 10px;
	border: 0px;
	margin: 10px;
	margin-bottom: 0px;
}

.project-heading {
	background-color: #000000;
	padding: 10px;
	border: 0px;
	margin: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.project-image {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.project-text {
	color: #ffffff;
	margin: 10px;
}

a {
	color: #000080;
}

.project-link{
	color: #ffffff;
}


.navbar ul{
	background-color: #000080;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}

.navbar li {
	float: left;
}

.navbar a{
	display: block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #e0e0e0;
	background-color: #000080;
	width: 120px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar a:hover, ul a:active {
	background-color: #000040;
}
