body {
	background-color: #c0c0c0;
	padding: 0;
	border: 0;
	margin: 0;
}

h1, h2, p, a {
	padding: 0;
	border: 0;
	margin: 10px;
	color: #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: normal;
	text-align: left;
}

a {
	margin: 0;
	color: #000080;
}

img {
	padding: 0;
	border: 0;
	margin: 10px;
}

.navbar ul{
	background-color: #000080;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}

.navbar li {
	float: left;
}

.navbar a{
	display: block;
	font-weight: bold;
	color: #e0e0e0;
	background-color: #000080;
	width: 120px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar a:hover{
	background-color: #000040;
}
.project {
	padding: 0;
	border: 0;
	margin: 0;
	margin-top: 0;
	display: inline-block;
}

.project-image {
	padding: 0;
	border: 0;
	margin: 10px;
	float: left;
}

.project-text {
	padding: 0;
	border: 0;
	margin: 0;
}

